<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= player.name %> - Football Player Profile</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <h1><%= player.name %></h1>
  <p>Nationality: <%= player.nationality %></p>
  <p>Club: <%= player.club %></p>
  <p>Overall Rating: <%= player.overallRating %></p>
</body>
</html>
